<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">
  <extensions>
    <add assembly="NLog.DiagnosticSource" />
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <variable name="service" value="ServiceA" />

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${var:service}/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|svc=${var:service}|trace=${activity:TraceId}|span=${activity:SpanId}|job=${mdlc:item=jobId}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="false"
            concurrentWrites="true" />

    <target xsi:type="Seq"
            name="seq"
            serverUrl="http://localhost:5341"
            message="${longdate}|${uppercase:${level}}|svc=${var:service}|trace=${activity:TraceId}|span=${activity:SpanId}|job=${mdlc:item=jobId}|${logger}|${message} ${exception:format=tostring}">
      <property name="service" layout="${var:service}" />
      <property name="traceId" layout="${activity:TraceId}" />
      <property name="spanId" layout="${activity:SpanId}" />
      <property name="jobId" layout="${mdlc:item=jobId}" />
      <property name="logger" layout="${logger}" />
    </target>

    <target xsi:type="BufferingWrapper"
            name="seqBuffered"
            bufferSize="1000"
            flushTimeout="2000"
            slidingTimeout="true"
            overflowAction="Discard"
            wrappedTarget="seq" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="seqBuffered" />
  </rules>
</nlog>
