<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/nlog-internal.log">
  <extensions>
    <add assembly="NLog.DiagnosticSource" />
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <variable name="service" value="${environment:variable=SERVICE_NAME:whenEmpty=UnknownService}" />
    <variable name="logRoot" value="${environment:variable=LOG_ROOT:whenEmpty=./logs}" />

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${var:logRoot}/${var:service}/${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|svc=${var:service}|trace=${activity:TraceId}|span=${activity:SpanId}|job=${mdlc:item=jobId}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="false" />

    <target xsi:type="Seq"
            name="seq"
            serverUrl="http://seq" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="seq" />
  </rules>
</nlog>

